@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-1,
.blog-2 {
  width: 90%;
  margin: 0 auto;
}
h2 {
  background-color: #5c5c5c;
  width: full;
  padding: 1rem;
  letter-spacing: 1px;
}
.blog-content,
.blog-content-2 {
  background-color: #cbcbcb;
  padding: 1rem;
  height: 150px;
  overflow: hidden;
}
.open {
  height: auto;
}
button {
  margin-left: 39%;
  padding: 0.5rem;

  border-radius: 5px;
  outline: none;
  background-color: #cbcbcb;
  font-weight: bold;
  border: 1px solid #5c5c5c;
  font-size: 15px;
}
button:hover {
  background-color: #5c5c5c;
  color: white;
}
button:active {
  transform: scale(0.95);
}
.back-btn {
  position: absolute;
  top: 35px;
  left: -250px;
}
